* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  text-align: center;
}

.container button {
  width: 10rem;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 5px 5px 16px #597081;
  border: none;
  margin: 0.5rem;
  transition: 0.2s ease-in-out;
}

.container h1 {
  font-size: 2.5rem;
  margin: 0.5rem;
  color: #36494E;
}

.green {
  color: #fff;
  background-color: green;
}

.green-clicked{
  background-color: green;
  color: #fff;
}

.blue {
  color: #fff;
  background-color: blue;
}

.blue-clicked{
  background-color: blue;
  color: #fff;
}

.white {
  background-color: white;
  border: 1px solid black;
}

.white-clicked{
  background-color: white;
  color: #000;
}

.black {
  color: #fff;
  background-color: black;
}

.black-clicked{
  background-color: black;
  color: #fff;
}

.random {
  color: black;
  background-color: antiquewhite;
}

/* .random-clicked{} */

button:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}